.bg{
  /* Full height */
  height: 550px;
  background-repeat: no-repeat;
  background-size: 50%;
}

body a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

@media screen and (max-width:550px) {
    .bg{
   
        /* Full height */
        height: 250px;;
  
        background-repeat: no-repeat;
        background-size: cover;
      }
}