.bg{
   
  /* Full height */
  height: 600px;
 
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width:550px) {
    .bg{
   
        /* Full height */
        height: 250px;;
       
        background-repeat: no-repeat;
        background-size: cover;
      }
}